<a href="https://colab.research.google.com/github/virendrasonekar97/PYTHON/blob/main/Data%20Types%20and%20Structures%20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Theory Questions

1. What are data structures, and why are they important?
Answer:
Data structures are ways to organize and store data to perform operations efficiently. They are important because they help manage large amounts of data, allow efficient searching, insertion, deletion, and improve the performance and scalability of programs.

2. Explain the difference between mutable and immutable data types with examples.
Answer:

Mutable: Can be changed after creation (e.g., Python lists, dictionaries).
Example: my_list = ; my_list=5

Immutable: Cannot be changed after creation (e.g., Python strings, tuples).
Example: my_str = "hello"; my_str = "H" (Error!)

3. What are the main differences between lists and tuples in Python?
Answer:

Lists: Mutable, slower, can change elements.

Tuples: Immutable, faster, used for data integrity.

4. Describe how dictionaries store data.
Answer:
Dictionaries store data as key-value pairs. Each key maps to a value, and keys must be unique.

5. Why might you use a set instead of a list in Python?
Answer:
Sets automatically remove duplicates and allow fast membership checks. Use sets when uniqueness of elements is needed.

6. What is a string in Python, and how is it different from a list?
Answer:
A string is an immutable sequence of characters. Unlike lists, strings cannot be changed after creation.

7. How do tuples ensure data integrity in Python?
Answer:
Tuples are immutable, meaning their contents cannot be changed, ensuring data remains constant throughout the program.

8. What is a hash table, and how does it relate to dictionaries in Python?
Answer:
A hash table stores data using a key hash. Python dictionaries use hash tables for fast access and retrieval.

9. Can lists contain different data types in Python?
Answer:
Yes. A list can have any mix of data types, e.g., [1, "two", 3.0].

10. Explain why strings are immutable in Python.
Answer:
Immutable objects like strings allow safe sharing, less memory usage, and prevent accidental changes, making programs safer and faster.

11. What advantages do dictionaries offer over lists for certain tasks?
Answer:
Dictionaries allow fast lookup using keys (O(1)), while lists require linear search (O(n)). Use dictionaries for key-value mapping.

12. Describe a scenario where using a tuple would be preferable over a list.
Answer:
Tuples are preferable when storing data that should not change, e.g., coordinates (x, y) or days of the week.

13. How do sets handle duplicate values in Python?
Answer:
Sets automatically remove duplicates. Only unique elements are stored.

14. How does the “in” keyword work differently for lists and dictionaries?
Answer:

List: Checks if element is present
x in

Dictionary: Checks if key is present
k in {'a':1}

15. Can you modify the elements of a tuple? Explain why or why not.
Answer:
No, tuples are immutable. Once created, elements cannot be changed, added, or removed.

16. What is a nested dictionary, and give an example of its use case.
Answer:
A nested dictionary is a dictionary inside another dictionary.
Example:
students = {'John': {'age': 25, 'city': 'NY'}}
Use case: Storing complex data like student details.

17. Describe the time complexity of accessing elements in a dictionary.
Answer:
Average case is O(1), meaning access is very fast due to hash table implementation.

18. In what situations are lists preferred over dictionaries?
Answer:
When you need ordered data, allow duplicates, or access via position (index).

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
Answer:
Dictionaries don't preserve insertion order before Python 3.7. Retrieval is via keys, not their order.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
Answer:

List: Access via index (position)

Dictionary: Access via key (unique identifier)

practical questions

1. Create a string with your name and print it

In [ ]:
name = "virendra sonekar"
print(name)

virendra sonekar

2. Find length of "Hello World"
python

In [ ]:
s = "Hello World"
print(len(s))

11

3. Slice first 3 characters from "Python Programming"

In [ ]:
s = "Python Programming"
print(s.upper())

PYTHON PROGRAMMING

4. Convert "hello" to uppercase

In [ ]:
s = "hello"
print(s.upper())

HELLO

5. Replace "apple" with "orange" in "I like apple"

In [ ]:
s = "I like apple"
print(s.replace("apple", "orange"))

I like orange

6. Create a list with numbers 1 to 5 and print it

In [ ]:
lst = [1, 2, 3, 4, 5]
print(lst)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4]

In [ ]:
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [ ]:
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

9 Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [ ]:

#### 9. Access the second element in ['a', 'b', 'c', 'd']

lst = ['a', 'b', 'c', 'd']
print(lst[1])   # Indexing starts at 0

b

10. Write a code to reverse the list [10, 20, 30, 40, 50]

In [ ]:
lst = [10, 20, 30, 40, 50]
print(lst[::-1])

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:

#### 11. Create a tuple with 100, 200, 300 and print

tpl = (100, 200, 300)
print(tpl)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

In [ ]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
tpl = (10, 20, 5, 15)
print(min(tpl))

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [ ]:
tpl = ('dog', 'cat', 'rabbit')
print(tpl.index("cat"))

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
fruits = ('apple', 'banana', 'kiwi')
print("kiwi" in fruits)

True

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
s = {'a', 'b', 'c'}
print(s)

{'c', 'b', 'a'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

In [ ]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}
print(s1 | s2)

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
s1 = {1, 2, 3}
s2 = {2, 3, 4}
print(s1 & s2)

{2, 3}

21. Create a dictionary with keys "name", "age", "city" and print

In [ ]:
d = {"name": "John", "age": 30, "city": "New York"}
print(d)

{'name': 'John', 'age': 30, 'city': 'New York'}

22. Add "country": "USA" to {'name': 'John', 'age': 25}

In [ ]:
d = {'name': 'John', 'age': 25}
d['country'] = 'USA'
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Access value for "name" in {'name': 'Alice', 'age': 30}

In [ ]:
d = {'name': 'Alice', 'age': 30}
print(d['name'])

Alice

24. Remove key "age" from {'name': 'Bob', 'age': 22, 'city': 'New York'}

In [ ]:
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del d['age']
print(d)

{'name': 'Bob', 'city': 'New York'}

25. Check if "city" exists in {'name': 'Alice', 'city': 'Paris'}

In [ ]:
d = {'name': 'Alice', 'city': 'Paris'}
print("city" in d)

True

26. Create a list, tuple, and dictionary, and print them all

In [ ]:
lst = [1,2,3]
tpl = (4,5,6)
d = {'a':1, 'b':2}
print(lst, tpl, d)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

27. List of 5 random numbers between 1-100, sort and print

In [ ]:
import random
lst = random.sample(range(1, 101), 5)
lst.sort()
print(lst)

[8, 11, 64, 65, 98]

28. Create a list with strings and print element at index 3

In [ ]:
lst = ["apple", "banana", "cherry", "date", "kiwi"]
print(lst[3])

date

29. Combine two dictionaries and print

In [ ]:
d1 = {'a':1, 'b':2}
d2 = {'c':3, 'd':4}
d3 = {**d1, **d2}
print(d3)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Convert list of strings to set

In [ ]:
lst = ["apple", "banana", "cherry"]
s = set(lst)
print(s)

{'apple', 'cherry', 'banana'}