<a href="https://colab.research.google.com/github/virendrasonekar97/PYTHON/blob/main/Functions_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Functions Assignment

1. Difference between a function and a method in Python

Function: A block of reusable code that performs a specific task, defined using the def keyword.

Method: A function that is associated with an object (belongs to a class). It is called using the object.

In [1]:
# Function
def greet(name):
    return f"Hello {name}"

# Method
class Person:
    def greet(self):
        return "Hello from the class!"

print(greet("Aman"))             # Function
print(Person().greet())          # Method

Hello Aman
Hello from the class!

2. Function arguments and parameters in Python

Parameter: Variable in the function definition.

Argument: Actual value passed to the function during the call.

Example:

In [2]:
def add(a, b):  # a, b are parameters
    return a + b

print(add(5, 3))  # 5 and 3 are arguments

8

3. Ways to define and call a function in Python

Regular functions using def

Lambda functions

Using *args and **kwargs

Examples:

In [3]:
# Normal function
def square(x):
    return x * x
print(square(4))

# Lambda function
sq = lambda x: x * x
print(sq(4))

16
16

4. Purpose of return statement

It exits the function and sends data back to the caller.

Example:

In [57]:
def add(a, b):
    return a + b

result = add(5, 3)
print(result)

8

5. Iterators vs Iterables

Iterable: Any object capable of returning its members one at a time (e.g., list, tuple).

Iterator: An object that represents a stream of data, produced using iter() and consumed using next().

Example:

In [5]:
nums = [1, 2, 3]  # Iterable
it = iter(nums)   # Iterator
print(next(it))

1

6. Generators

Special functions that yield values using the yield keyword instead of returning.

Useful for memory efficiency.

Example:

In [13]:
def my_gen():
    yield 1
    yield 2

for value in my_gen():
    print(value)

1
2

7. Advantages of generators

Memory efficient (does not store all results in memory).

Lazy evaluation (generates items one at a time).

8. Lambda function

An anonymous (nameless) function written in one line, defined using lambda.

Example:

In [14]:
add = lambda x, y: x + y
print(add(2, 3))

5

9. map() in Python

The map() function applies a function to each item in an iterable.

Example:

In [15]:
nums = [1, 2, 3]
result = map(lambda x: x * 2, nums)
print(list(result))

[2, 4, 6]

10. Difference between map(), reduce(), and filter()

map → applies a function to all elements in an iterable.

filter → filters elements based on a condition.

reduce → reduces an iterable to a single value using cumulative computation.

Example:

In [16]:
from functools import reduce
nums = [1, 2, 3, 4]
print(list(map(lambda x: x*2, nums)))
print(list(filter(lambda x: x % 2 == 0, nums)))
print(reduce(lambda x, y: x + y, nums))

[2, 4, 6, 8]
[2, 4]
10

Practical Answers

1. Sum of all even numbers in a list

In [17]:
def sum_even(nums):
    return sum([n for n in nums if n % 2 == 0])

print(sum_even([1, 2, 3, 4, 5, 6]))

12

2. Reverse a string

In [18]:
def reverse_string(s):
    return s[::-1]

print(reverse_string("Python"))

nohtyP

3. Squares of numbers in a list

In [19]:
def square_list(nums):
    return [n**2 for n in nums]

print(square_list([1, 2, 3]))

[1, 4, 9]

4. Prime numbers from 1 to 200

In [20]:
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n**0.5)+1):
        if n % i == 0:
            return False
    return True

primes = [n for n in range(1, 201) if is_prime(n)]
print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199]

5. Fibonacci iterator

In [21]:
class Fibonacci:
    def __init__(self, terms):
        self.terms = terms
        self.a, self.b = 0, 1
        self.count = 0

    def __iter__(self):
        return self

    def __next__(self):
        if self.count >= self.terms:
            raise StopIteration
        if self.count == 0:
            self.count += 1
            return 0
        elif self.count == 1:
            self.count += 1
            return 1
        else:
            self.a, self.b = self.b, self.a + self.b
            self.count += 1
            return self.b

for num in Fibonacci(10):
    print(num)

0
1
1
2
3
5
8
13
21
34

6. Generator: Powers of 2

In [22]:
def powers_of_two(n):
    for i in range(n+1):
        yield 2 ** i

print(list(powers_of_two(5)))

[1, 2, 4, 8, 16, 32]

7. Generator: Read file line by line

In [31]:
def read_lines(filename):
    with open(filename, 'r') as f:
        for line in f:
            yield line.strip()

8. Sort list of tuples by second element

In [30]:
data = [(1, 3), (2, 1), (3, 2)]
data.sort(key=lambda x: x[1])
print(data)

[(2, 1), (3, 2), (1, 3)]

9. Celsius to Fahrenheit with map()

In [32]:
temps_c = [0, 20, 37]
temps_f = list(map(lambda c: (c * 9/5) + 32, temps_c))
print(temps_f)

[32.0, 68.0, 98.6]

10. Remove vowels using filter()

In [33]:
text = "Hello World"
result = "".join(filter(lambda ch: ch.lower() not in "aeiou", text))
print(result)

Hll Wrld

11. Accounting routine

In [62]:
orders = [
    [34587, "Learning Python", 4, 40.95],
    [98762, "Programming in C", 5, 56.80],
    [77226, "Head First Java", 3, 32.95]
]

# Calculate the total cost for each order and add shipping if necessary
result = list(map(lambda order: (order[0], order[1], order[2] * order[3] + (10 if order[2] * order[3] < 100 else 0)), orders))
print(result)

[(34587, 'Learning Python', 163.8), (98762, 'Programming in C', 284.0), (77226, 'Head First Java', 108.85000000000001)]